:root {
    --controller-background-image: url(./images/base.png);
    --controller-disconnected-image: url(./images/disconnected.png);
    --controller-touchpad-image: url(./images/logo.png);
    --controller-trigger-image: url(./images/trigger.png);
    --controller-bumper-image: url(./images/bumper.png);
    --controller-meta-pressed-image: url(./images/meta.png);
    --controller-start-image: url(./images/start-select.png);
    --controller-button-image: url(./images/abxy.png);
    --controller-stick-image: url(./images/stick.png);
    --controller-face-image: url(./images/dpad.png);
}